.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;

	&__h1 {
		font-size: $fs-h1;
		font-weight: $fw-bold;
		color: $clr-light-secondary-dkr;
	}

	&__theme {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-weight: $fw-bold;
		font-size: $fs-h4;
		cursor: pointer;
		background-color: transparent;
		border: none;

		&:hover > * {
			color: $clr-light-secondary-dkr;
			filter: invert(18%) sepia(45%) saturate(281%) hue-rotate(176deg)
				brightness(95%) contrast(96%);
		}

		&__h2 {
			color: $clr-light-secondary-dk;
		}
	}
}

#DARK .header {
	&__h1 {
		color: $clr-dark-white;
	}

	&__theme {
		&__h2 {
			color: $clr-dark-white;
		}
	}
}
