.links {
	display: grid;
	gap: 1rem;
	margin-bottom: 2rem;

	@media (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	&__flex {
		display: flex;
		align-items: center;
		gap: 1rem;
		color: $clr-light-secondary-dk;
		&__img {
			width: 20px;
		}
	}
}

#DARK .links {
	&__flex {
		color: $clr-dark-white;

		&__img {
			filter: invert(50%) sepia(0%) saturate(345%) hue-rotate(300deg)
				brightness(180%) contrast(150%);
		}
	}
}
