.links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 2rem;
	&__flex {
		display: flex;
		align-items: center;
		gap: 1rem;
		color: $clr-light-secondary-dk;
		&__img {
			width: 20px;
		}
	}
}

#DARK .links {
	&__flex {
		color: $clr-dark-white;

		&__img {
			filter: invert(50%) sepia(0%) saturate(345%) hue-rotate(300deg)
				brightness(180%) contrast(150%);
		}
	}
}
