.links {
	display: grid;
	gap: 1rem;

	@media (min-width: 64rem) {
		padding-left: 9.4rem;
		position: relative;
		bottom: 4rem;
		margin: 0;
	}

	@media (min-width: 48rem) {
		grid-template-columns: repeat(2, 1fr);
	}

	&__flex {
		display: flex;
		align-items: center;
		gap: 1rem;
		color: $clr-light-secondary-dk;

		&__img {
			width: 20px;
		}
	}

	&__header {
		text-decoration: none;
		color: aliceblue;
	}
}

#DARK .links {
	&__flex {
		color: $clr-dark-white;

		&__img {
			filter: invert(50%) sepia(0%) saturate(345%) hue-rotate(300deg)
				brightness(180%) contrast(150%);
		}
	}
}

a {
	text-decoration: none;
	color: $clr-light-secondary-dk;

	&:hover {
		text-decoration: underline;
	}
}

#DARK a {
	color: $clr-dark-white;
}
