.profile {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
		'image name'
		'image nickname'
		'image joinDate';
	&__imgContainer {
		grid-area: image;
		width: 70px;
		height: 70px;

		&__image {
			border-radius: 50%;
		}
	}

	&__name {
		grid-area: name;
		font-weight: $fw-bold;
		font-size: $fs-h3;
		color: $clr-light-secondary-dkr;
	}

	&__nickname {
		grid-area: nickname;
		color: $clr-light-primary;
		font-size: $fs-h4;

		margin-bottom: 0.6rem;
	}

	&__joinDate {
		grid-area: joinDate;
		color: $clr-light-secondary-lt;
		font-size: $fs-h4;
	}
}
