.profile {
	width: 100%;
	display: grid;
	grid-template-columns: clamp(4.4rem, 4rem + 5vw, 7.4rem) 1fr;
	gap: 0 1rem;
	grid-template-areas:
		'image name'
		'image nickname'
		'image joinDate';
	&__imgContainer {
		grid-area: image;

		&__image {
			border-radius: 50%;
		}
	}

	&__name {
		grid-area: name;
		font-weight: $fw-bold;
		font-size: clamp($fs-h3, $fs-h4 + 2vw, $fs-h1);
		color: $clr-light-secondary-dkr;
	}

	&__nickname {
		grid-area: nickname;
		color: $clr-light-primary;
		font-size: clamp($fs-h4, $fs-h4 + 1vw, $fs-h3);

		margin-bottom: 0.6rem;
	}

	&__joinDate {
		grid-area: joinDate;
		color: $clr-light-secondary-lt;
		font-size: clamp($fs-h4, 10px + 1vw, $fs-base);
	}
}

#DARK .profile {
	&__name {
		color: $clr-dark-white;
	}

	&__joinDate {
		color: $clr-light-gray;
	}
}
