.search {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $clr-light-white;
	padding: 0.4rem 0.4rem 0.4rem 1rem;
	border-radius: 15px;
	-webkit-box-shadow: 0px 16px 29px -10px rgba(0, 0, 0, 0.19);
	box-shadow: 0px 16px 29px -10px rgba(0, 0, 0, 0.19);

	&__iconContainer {
		width: 20px;
		height: 20px;
		margin-right: 0.4rem;

		@media (min-width: 48rem) {
			margin-right: 1rem;
			margin-left: 0.6rem;
		}
	}

	&__input {
		border: none;
		font-size: clamp(10px, 8px + 1vw, 18px);
		margin-right: auto;
		color: $clr-light-secondary-dkr;
		caret-color: $clr-light-primary;
		width: 60%;
		font-family: inherit;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: $clr-light-secondary-lt;
		}
	}

	&__button {
		background-color: $clr-light-primary;
		color: $clr-light-white;
		border: none;
		border-radius: 10px;
		height: 48px;
		padding: 0.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $fs-h3;
		font-weight: $fw-bold;
		cursor: pointer;
		-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

		&:hover {
			background-color: #60abff;
		}
	}

	&__errorMessage {
		color: red;
		position: absolute;
		right: 110px;
		font-weight: $fw-bold;
		font-size: $fs-h4;
	}
}

#DARK .search {
	background-color: $clr-dark-secondary-lt;

	&__input {
		background-color: $clr-dark-secondary-lt;
		color: $clr-dark-white;

		&::placeholder {
			color: $clr-dark-white;
		}
	}
}
