.stats {
	display: flex;
	justify-content: space-around;
	background-color: $clr-light-gray;
	padding: 1.6rem;
	border-radius: 10px;

	@media (min-width: 64rem) {
		margin-left: 9.4rem;
		position: relative;
		bottom: 4rem;
	}

	&__flex {
		@extend %statsFlex;

		&__header {
			font-size: clamp(11px, 8px + 1vw, $fs-h4);

			color: $clr-light-secondary-dk;
		}

		&__number {
			font-size: clamp($fs-h3, $fs-h4 + 1vw, $fs-h2);

			color: $clr-light-secondary-dkr;
			font-weight: $fw-bold;
		}
	}
}

#DARK .stats {
	background-color: $clr-dark-secondary-dk;

	&__flex {
		&__header {
			color: $clr-light-gray;
		}

		&__number {
			color: $clr-dark-white;
		}
	}
}
