html {
	font-family: $ff-primary;
}

body {
	background-color: $clr-light-gray;
	padding: 1rem;
	min-height: 100vh;
}

.App {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}
