html {
	font-family: $ff-primary;
}

body {
	min-height: 100vh;
	width: 100%;
}

main {
	height: 100vh;
	padding: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	width: 100%;
	max-width: 36rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;

	@media (min-width: 64rem) {
		max-width: 45rem;
	}
}

#LIGHT {
	background-color: $clr-light-gray;
}

#DARK {
	background-color: $clr-dark-secondary-dk;
}

.opacity {
	opacity: 0.4;
}
