// font size
$fs-h1: 26px;
$fs-h2: 22px;
$fs-h3: 16px;
$fs-h4: 13px;
$fs-base: 15px;

// line height
$lh-h1: 38px;
$lh-h2: 33px;
$lh-h3: 24px;
$lh-h4: 20px;

// font weight
$fw-bold: 700;
$fw-regular: 400;

// font family
$ff-primary: 'Space Mono', monospace;
