// LIGHT MODE COLORS
$clr-light-primary: #0079ff;
$clr-light-secondary-lt: #697c9a;
$clr-light-secondary-dk: #4b6a98;
$clr-light-secondary-dkr: #2b3442;
$clr-light-gray: #f6f8ff;
$clr-light-white: #fefefe;

// DARK MODE COLORS
$clr-dark-primary: #0079ff;
$clr-dark-white: #ffffff;
$clr-dark-secondary-dk: #141d2f;
$clr-dark-secondary-lt: #1e2a47;
